
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style="text-align: center">
    <a asp-action="WishList">Wish List</a> |
    <a asp-action="ViewFamilies">View Families</a> |
    <a asp-action="UploadImage">Upload Image</a> |
    <a asp-action="ViewImages">View Images</a> |
    <a asp-action="FullList">View Full List</a>
</p>
<div class ="wrapper">

    <nav id="sidebar">
        <ul>
            <li>North America</li>
            <li>Europe</li>
            <li>South America</li>
            <li>Asia</li>
            <li>Africa</li>
            <li>Oceania (Australia/NZ)</li>
            <li>Central America</li>
            <li>United States</li>
            <li>Antartica</li>
        </ul>

    </nav>
</div>