
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="WishList">Wish List</a> |
    <a asp-action="ViewFamilies">View Families</a> |
    <a asp-action="UploadImage">Upload Image</a> |
    <a asp-action="ViewImages">View Images</a> |
    <a asp-action="FullList">View Full List</a>
</p>
